.players-section {
	margin: 3rem 0;

	.players {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 1rem;

		.player {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			color: #777;

			.player-name {
				color: #555;

				span {
					font-weight: bold;
				}
			}

			a {
				color: $redColor;
			}
		}
	}
}
