.container {
	margin: 0 auto;
}

/* Mobile Screens */
@include maxSm {
	.container {
		width: 100%;
		padding: 0 2rem;
	}
}

/* Tablet screens */
@include minSm {
	.container {
		width: 728px;
	}
}

/* Medium screens */
@include minMd {
	.container {
		width: 952px;
	}
}

/* Large screens */
@include minLg {
	.container {
		width: 1160px;
	}
}
